USE [master]
GO
/****** Object:  Database [C#_Project]    Script Date: 7/19/2019 2:11:38 PM ******/
CREATE DATABASE [C#_Project]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'C#_Project', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\C#_Project.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'C#_Project_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\C#_Project_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [C#_Project].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [C#_Project]
GO
/****** Object:  Table [dbo].[AccountPurchases]    Script Date: 7/19/2019 2:11:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountPurchases](
	[customerID] [int] NOT NULL,
	[productID] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[totalCost] [decimal](5, 2) NULL,
	[purchaseDate] [date] NOT NULL,
	[purchaseId] [int] IDENTITY(3,5) NOT NULL,
	[prodDescription] [varchar](45) NULL,
 CONSTRAINT [PK_purID] PRIMARY KEY CLUSTERED 
(
	[purchaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 7/19/2019 2:11:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customerID] [int] IDENTITY(1,1) NOT NULL,
	[customerName] [varchar](100) NOT NULL,
	[customerBalance] [decimal](5, 2) NULL,
	[username] [varchar](45) NULL,
	[password] [varchar](10) NULL,
	[credit] [decimal](5, 2) NULL,
 CONSTRAINT [PK_CustId] PRIMARY KEY CLUSTERED 
(
	[customerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Store]    Script Date: 7/19/2019 2:11:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Store](
	[productID] [int] NOT NULL,
	[productPrice] [decimal](5, 2) NOT NULL,
	[productQuantity] [int] NULL,
	[prodDescription] [varchar](45) NOT NULL,
 CONSTRAINT [PK_prodID] PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ((0)) FOR [customerBalance]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ('welcome') FOR [username]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ('1234') FOR [password]
GO
ALTER TABLE [dbo].[Store] ADD  DEFAULT ((5)) FOR [productQuantity]
GO
ALTER TABLE [dbo].[AccountPurchases]  WITH CHECK ADD  CONSTRAINT [FK_CustomerID] FOREIGN KEY([customerID])
REFERENCES [dbo].[Customer] ([customerID])
GO
ALTER TABLE [dbo].[AccountPurchases] CHECK CONSTRAINT [FK_CustomerID]
GO
ALTER TABLE [dbo].[AccountPurchases]  WITH CHECK ADD  CONSTRAINT [FK_ProdID] FOREIGN KEY([productID])
REFERENCES [dbo].[Store] ([productID])
GO
ALTER TABLE [dbo].[AccountPurchases] CHECK CONSTRAINT [FK_ProdID]
GO
ALTER TABLE [dbo].[Store]  WITH CHECK ADD  CONSTRAINT [CK_Quant] CHECK  (([productQuantity]>=(0)))
GO
ALTER TABLE [dbo].[Store] CHECK CONSTRAINT [CK_Quant]
GO
USE [master]
GO
